* {
    text-decoration: none !important;
    font-weight: 120 !important;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media only screen and (max-width: 700px) {



    #profile-pic {
        display: block;
        width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    
    .section-2 {
        min-width: 400px !important;
        margin-left: 20% !important;
    }


  }



body {
    background-image: linear-gradient(rgb(38, 71, 55), rgb(68, 99, 81));
}



#profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    max-width: 600px !important;
    max-height: 600px !important;
    margin-top: 40px;
    margin-bottom: 30px;
    object-fit: none;
    border-color:rgb(23, 43, 33)
}



.section-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    margin-bottom: 5%;
    height: 100px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    min-width: 35%;
    max-width: 40%;
}

.section-2 img {
    width: 60px;
    min-width: 60px;
    margin-left: 30%;
}


.section-3-mini {
    padding-left: 25%;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}


.section-3-mini-2 {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

